html {
    background-color: #EEEEEE;
    font-family: 'Oxygen',sans-serif;
    font-size: 18px;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
}

h1 {
    font-family: 'Roboto Slab', sans-serif;
}

h4 {
    font-family: 'Roboto Slab', sans-serif;
}

#scriptname {
    font-family: 'Homemade Apple', cursive;
    font-size: 50px;
    margin-right: 20%;
    margin-bottom: -35px;
    text-align: right;
    white-space: nowrap;
}

.blue-box {
    position: absolute;
    width: 100%;
    background-color: #006482;
}

.gray-box {
    background-color: #333333;
}

#navigation {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    white-space: nowrap;
    background-color: #333333;
    border-top: 40px solid #006482;
    border-bottom: 40px solid #006482;
    font-family: 'Roboto Slab', sans-serif;
}

.nav-item {
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    height: 50px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
}

#navigation a {
    text-decoration: none;
    color: white;
}

#navigation a:hover {
    text-decoration: underline;
}

#content {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

#content a:link {
    text-decoration: none;
    color: inherit;
}

#content a:hover {
    text-decoration: underline;
}

#content ul {
    list-style-type: square;
}

.index-box {
    width: 400px;
    height: 400px;
    border-style: solid;
    border-width: 15px;
    border-color: #333333;
    vertical-align: top;
    display: inline-block;
    font-size: 24px;
    background-color: white;
    vertical-align: middle;
}

.index-box p {
    font-family: 'Roboto Slab', sans-serif;
}

#contact-box {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 15px;
    border-color: #333333;
    background-color: white;
    white-space: nowrap;
    padding: 10px;
    font-family: 'Roboto Slab', sans-serif;
}

#contact-info {
    display: inline-block;
    width: auto;
    font-size: 25px;
    font-weight: bold;
    text-align: right;
    border-style: solid;
    border-width: 0px;
    border-right-width: 5px;
    border-color: #333333;
    padding-right: 10px;
    margin-right:40px;
}

.contact-item {
    display: inline-block;
    width: auto;
    font-size: 25px;
    margin-right: 40px;
}

.text-box {
    border-style: solid;
    border-width: 15px;
    border-color: #333333;
    padding: 25px;
    padding-top: 0px;
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: white;
    overflow: hidden;
    font-family: 'Oxygen',sans-serif;
}

.text-box img {
    border: 1px solid #333333;
    margin: 10px;
    width: 45%;
    height: auto;
    float: right;
}

#quick-link {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    white-space: nowrap;
    background-color: #333333;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 15px solid #006482;
    border-bottom: 50px solid #006482;
    font-family: 'Roboto Slab', sans-serif;
}

.qlink {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    color: white;
    font-size: 15px;
    text-align: center;
}

#quick-link a {
    text-decoration: none;
    color: white;
}

#quick-link a:hover {
    text-decoration: underline;
}
